.title {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  color: transparent;
  background: linear-gradient(135deg, #c648cf, #8e48cf, #9430ca);
  background-size: 500px 100%;
  background-clip: text;
}

.card-img-top {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height: 200px;
    object-fit: cover;
}

.card-title {
    color: #557a9f;
    font-weight: 600;
}

.card-text{
    color: #6795d6;
}


.footer{
    background-color: #2c3e50;
    padding: 20px 0;
    text-align: center;
    margin-top: 50px;
}
